@tailwind base;
@tailwind components;
@tailwind utilities;


/* text-gradient-to-r from-[#9648F6] via-[#587AF9] via-[#14B4FF] to-[#66D898] */
/* bg-gradient-to-r from-[#9648F6] via-[#587AF9] via-[#14B4FF] to-[#66D898] */

/* violet=9648F6 */
/* darkblue=587AF9 */
/* lightblue =00A6FB */
/* green =66D898 */

/* .gradient-text {
    background: linear-gradient( 
        to right, #f32170, #ff6b08, 
         #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
} */